@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

:root {
    --keyboard-key-font-size: 0.5rem;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


#detail {
    width: 59vw;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(244, 241, 254);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100px;
    display: flex;
    justify-content: start;
    font-size: 1rem;
    font-weight: bolder;

}

body {
    background: #c33764;
    background: -webkit-linear-gradient(to right, #1d2671, #c33764);
    background: linear-gradient(to right, #1d2671, #c33764);
}

.body-dark {
    background: #272B2C;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.icons {
    width: 90%;
    height: auto;
    display: flex;
    direction: rtl;
    justify-content: right;
}

.icons-dark {

    height: auto;
    display: flex;
    direction: rtl;
    justify-content: right;
    color: whitesmoke;
}

#icon {
    font-size: 2rem;
    margin-top: 50px;
}

#keyboards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    width: 68vw;

}

.key-row {
    display: flex;
}

.key {
    font-weight: bolder;
    border: 2px solid black;
    margin: 5px;
    flex-direction: column;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: rgb(214, 214, 214);
    color: black;
    cursor: pointer;
}

.key-dark {
    font-weight: bolder;
    border: 2px solid black;
    margin: 5px;
    flex-direction: column;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: var(--keyboard-key-font-size);
    text-shadow: 0 0 40px #71D4FE, 0 0 80px #71D4FE;
    color: #71D4FE;
    cursor: pointer;
    background-color: darkgray;
}

.key-dark:hover {
    box-shadow: 0 0 11px sandybrown;

}

.key-row .key-xl {
    width: 330px;
    height: 50px;
}


.key-row .key-lg {
    width: 126px;
    height: 50px;
}

.key-row .key-md {
    width: 94px;
    height: 50px;
}

.key-row .key-sm {
    width: 75px;
    height: 50px;
}

.key.key-sm.key-fn {
    font-size: var(--keyboard-key-font-size);
}

.key.key-xs.key-fn {
    font-size: var(--keyboard-key-font-size);
}

.key.key-lg.key-fn {
    font-size: var(--keyboard-key-font-size);
}

.key.key-md.key-fn {
    font-size: var(--keyboard-key-font-size);
}

.keyboard-mobile .key-row {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.keyboard-mobile .key {

    width: 25px;
    height: 35px;
}

.keyboard-mobile .key.key-xs {
    width: 25px;
    height: 35px;
}

.keyboard-mobile .key.key-sm {
    width: 35px;
    height: 35px;
}

.keyboard-mobile .key.key-md {
    width: 70px;
    height: 35px;
}

.keyboard-mobile .key.key-lg {
    width: 195px;
    height: 35px;
}
.keyboard-mobile .key-row {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.keyboard-emoji{
    display: none;
}

.key-row.row-five .key.key-sm.one {
    margin: 6px 300px 5px 5px;
}

.key-row.row-there .key.key-sm.one {
    margin: 5px 22px 5px 5px;
}

.key-row.row-there .key.key-sm.two {
    margin: 5px 5px 5px 17px;
}


.capsLock-on {
    background-color: darkgreen !important;
}

.capsLock {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.key.key-md.key-fn-caps,
.key.key-lg.key-fn-caps {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
    font-size: 0.6rem;
}

.key.key-md.key-fn-caps span,
.key.key-lg.key-fn-caps span {
    margin: 5px 5px 5px 10px;
}

.key.key-xs.key-fn span,
.key.key-sm.key-fn span {
    display: flex;
    justify-items: end;
    align-items: end;
    justify-content: start;
    width: 90%;
    height: 80%;
}

.key.key-md.key-fn span {
    display: flex;
    justify-items: start;
    align-items: start;
    justify-content: end;
    width: 90%;
    height: 80%;
}

.key.key-sm.key-fn.Delete span {
    display: flex;
    justify-items: start;
    align-items: end;
    justify-content: end;
    width: 90%;
    height: 80%;
}
.key.key-sm.key-fn.Delete-mobile span {
    display: flex;
    justify-items: start;
    align-items: end;
    justify-content: end;
    width: 90%;
    height: 80%;
}

#right-shift {
    display: flex;
    justify-items: start;
    align-items: end;
    justify-content: end;
}
.key.key-sm.none-letter.emoji {
   padding: 0 4px 0 4px;
}
.key.key-sm.key-fn.key-fn-caps.shift.emoji {
    margin: 0 9px 0 0 ;
}
.key.key-sm.key-fn.Delete.emoji {
    margin: 0 0 0 9px ;
}


@media screen and (max-width: 997px) {
    #keyboards .keyboard-desktop {
        display: none !important;
    }
}

@media screen and (min-width: 997px) {
    #keyboards .keyboard-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 997px) {
    #keyboards .keyboard-emoji {
        display: none !important;
    }
}
